<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.novaventa.desarrollo.mamaempresaria" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>AzureApp</name>
  <description>
        Azure test App.
    </description>
  <author email="you@example.com" href="http://example.com.com/">
      Mauricio Bedoya
    </author>
  <content src="index.html"/>
  <access origin="*"/>

  <!-- Azure -->
  <preference name="AZME_ACTION_URL" default="null"/>
  <preference name="AZME_ENABLE_PLUGIN_LOG" default="true"/>
  <preference name="AZME_ENABLE_NATIVE_LOG" default="true"/>
  <preference name="AZME_ANDROID_CONNECTION_STRING" default="Endpoint=azMEPerceptio.device.mobileengagement.windows.net;SdkKey=425bd0b984dbd045d3027d31dd56be81;AppId=cua000451" />

  <!-- android -->
  <platform name="android">
      <preference name="AZME_ANDROID_GOOGLE_PROJECT_NUMBER" default="null"/>
      <preference name="AZME_ANDROID_REACH_ICON" default="icon"/>
      <preference name="AZME_ANDROID_CONNECTION_STRING" default="Endpoint=azMEPerceptio.device.mobileengagement.windows.net;SdkKey=425bd0b984dbd045d3027d31dd56be81;AppId=cua000451" />
  </platform>    

  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="SplashScreenDelay" value="2000"/>
  <preference name="FadeSplashScreenDuration" value="2000"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" onload="true" value="CDVStatusBar"/>
  </feature>
  <plugin name="cordova-plugin-device" spec="~1.1.3"/>
  <plugin name="cordova-plugin-console" spec="~1.0.4"/>
  <plugin name="cordova-plugin-whitelist" spec="~1.3.0"/>
  <plugin name="cordova-plugin-splashscreen" spec="~4.0.0"/>
  <plugin name="cordova-plugin-statusbar" spec="~2.2.0"/>
  <plugin name="phonegap-plugin-push" >
    <param name="SENDER_ID" value="275683696350" />
    <variable name="SENDER_ID" value="275683696350" />
    <params>
      <param name="SENDER_ID" value="275683696350" />
      </params>
  </plugin>
  <plugin name="cordova-plugin-ms-azure-mobile-engagement" >
    <params>
      <param name="AZME_ANDROID_CONNECTION_STRING" value="Endpoint=azMEPerceptio.device.mobileengagement.windows.net;SdkKey=425bd0b984dbd045d3027d31dd56be81;AppId=cua000451" />
      </params> 
  </plugin>

  <plugin name="ionic-plugin-keyboard" spec="~2.2.1"/>
</widget>